.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html,
body {
  max-width: 100%;
  font-family: "Times";
}

.page {
  display: flex;
  flex-direction: column;
}

.main-body-wrapper {
  align-items: stretch;
  justify-content: center;
  background-color: rgb(250, 249, 240);
  display: block;
  padding-bottom: 3.5rem;
}

.thumb-post-scroll {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: unset;
  overflow: scroll;
}

.nav-grid {
  display: grid;
  grid-template-rows: 5rem 2rem;
  align-items: center;
  background-color: black;
}

.upper-nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  height: auto;
  align-items: center;
}

.top-box-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.top-box-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.top-box-2 h1 {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 48px;
  padding-top: 4px;
}

.top-box-2-underline {
  color: transparent;
}
.top-box-2-underline:hover {
  color: transparent;
}

.top-box-2 h1:hover {
  color: none;
}

.top-box-3-blank {
  grid-column-start: 3;
  grid-column-end: 4;
}

.lower-nav {
  display: grid;
  grid-column: 1 / -1;
  width: 100%;
  justify-content: center;
  height: 2rem;
}

.lower-nav-wrapper {
  align-items: center;
}

#navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: black;
  text-align: center;
}

.cat-btn {
  align-items: center;
  border: none;
  column-gap: 0.5rem;
  cursor: pointer;
  background: transparent;
  color: #e197b9;
  font-weight: 600;
}

.bx {
  font-size: 1.1rem;
}

.dropdown-container {
  text-align: center;
  box-sizing: border-box;
  width: 120px;
  border-radius: 5px;
  color: white;
  background: transparent;
}

.dropdown-items {
  padding: 0.8rem 1rem;
  visibility: hidden;
  align-items: center;
  opacity: 0;
  transform: translateY(0rem);
  transition: all 0.6s cubic-bezier(0.16, 1, 0.5, 1);
  background-color: black;
  text-decoration: none;
  border-radius: 0px 0px 10px 10px;
}

.dropdown-option {
  align-items: center;
}

.dropdown-option:hover {
  color: #e197b9;
  width: 100%;
  cursor: pointer;
}

.chosen-cat {
  color: green;
}

.show {
  transform: translateY(0.25rem);
  visibility: visible;
  opacity: 0.8;
}

.chev {
  transform: rotate(180deg);
  transition: 0.3s ease;
}

.spacer {
  width: 100%;
  height: 8px;
  background: grey;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 9rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-right: auto;
  margin-left: auto;
  column-gap: 2rem;
  max-width: 1600px;
}

.gallery--hero-post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: sticky;
  align-self: start;
  top: 0;
}

.gallery--hero-post img {
  object-fit: cover;
  height: auto;
  display: inline-block;
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 30px;

  filter: drop-shadow(1px 2px 3px);
}

.hero-content img {
  object-fit: cover;
  object-position: center;
  height: auto;
  display: inline-block;
  position: relative;
  height: auto;
  max-width: 100%;
  border-radius: 30px;

  filter: drop-shadow(1px 2px 3px);
}

.gallery--hero-post .fixed {
}

.blank-hero-gallery-space {
}

.gallery--thumb-post img {
  object-fit: cover;
  object-position: center;
  width: 450px;
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  filter: drop-shadow(1px 2px 3px);
  aspect-ratio: 3/4;
}

.text-in-hero {
  padding-top: 24px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 48px;
}

.inner-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
/**/
.inner-most-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-in-img {
  padding-left: 2rem;
}

/*media queries go 34, 40, 40*/
#title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

#right-recipe-author {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

#below-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

#hero-recipe-title {
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}

#hero-recipe-author {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

#top-recipe-p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

#right-recipe-title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

#right-recipe-author {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

#mm-title {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1vh;
  padding-top: 1.5rem;
}

#mm-p {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.section-stuff {
  margin-top: 4%;
  max-width: 1600px;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.monthlyMainstayWrapper {
  display: grid;
  margin-bottom: 4rem;
}

/*Need to wrap inside a wrapper to preserve margins
and not have image overlap*/
.monthlyMainstayWrapper .content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(300px, 1fr);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.monthlyMainstayWrapper .item {
  display: flexbox;
  grid-template-columns: 1fr;
  margin-bottom: 4rem;
}

/*for grap on carousel, it goes 16, 24, 32*/
.mainstay-image {
  height: auto;
  width: 100%;
  aspect-ratio: 3/4;
}

.mainstay-image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 30px;
}

.mainstay-text {
  padding-left: 2%;
}

/*These are our 2 dimensions of focus besides macbook 16inch*/
/*0px - 1025*/
@media screen and (max-width: 1023px) {
  #title,
  #hero-recipe-title {
    font-size: 32px;
  }
  .gallery--hero-post {
    display: grid;
    position: relative;
    align-self: stretch;
    top: 0;
  }

  .wrapper,
  .section-stuff {
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
    padding-left: 48px;
    padding-right: 48px;
  }

  .monthlyMainstayWrapper {
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .text-in-img {
    padding-left: 1.5rem;
  }
}

/*0px - 775px*/
@media screen and (max-width: 767px) {
  #title,
  #hero-recipe-title {
    font-size: 28px;
  }
  #right-recipe-title {
    font-size: 20px;
  }

  #navbar {
    padding-top: 0px;
  }

  #mm-title {
    padding-top: 1rem;
  }

  .nav-grid {
    grid-template-rows: 3rem 1.5rem;
  }

  .upper-nav {
    padding-top: 4px;
  }

  .top-box-2 h1 {
    font-size: 28px;
    padding-top: 2px;
  }

  .lower-nav {
    height: 2rem;
  }

  .dropdown-container {
    margin-bottom: 10px;
    width: 95px;
  }

  .cat-btn {
    font-size: 12px;
  }

  .bx {
    font-size: 12px;
  }

  .wrapper {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6.5rem;
  }

  .section-stuff {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding-left: 24px;
    padding-right: 24px;
  }

  .monthlyMainstayWrapper {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .monthlyMainstayWrapper .content {
    grid-auto-columns: minmax(250px, 1fr);
  }

  .monthlyMainstayWrapper .item {
    grid-gap: 16px;
  }

  .text-in-img {
    padding-left: 1rem;
  }
}

.hover-underline {
  text-decoration: none;
  color: black;
}

.hover-underline:hover {
  text-decoration: underline rgba(0, 0, 0, 1);
  color: black;
}

.url-blue-elim {
  color: transparent;
}

.url-blue-elim img {
  border-radius: 30px;
}

.url-blue-elim:hover {
  color: transparent;
}
